PyMuPDF
azure-ai-documentintelligence
azure-core
azure-identity
azure-search-documents
langchain
tiktoken
pandas
pdf2image
python-dotenv
pillow
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
loguru
sentence-transformers